body {
	font-family: sans-serif;
	line-height: 1.5em;
}
#container {
	position: relative;		
	margin: 50px;
	padding-bottom: 500px;
}
#content {
	width: 400px;
}
#sidebar {
	position: absolute;
	left:500px;
	top: 0px;
}
#services {
	margin: 1em 0;
}
#services .favicon {
	position: absolute;
	top: 0;
	left:-24px;
}

#events .dateline,
#events .article,
#events .title {
	margin: 0;
	font-weight: normal;
}
#events .dateline {
	margin: 0;
	font-size: 1em;
	text-transform: none;
}
